language: java
jdk: openjdk8
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
  - secure: YY9+R8bA+m2JVcYQGGwlLKnL0OA1euriRlaVRX6Ocsy0dwiJsprwAGjwPr2JC9oOXdtSoqIjmtXClxmmb3JdrApnQyCFwBsT66z2fr3ys6bqZoUXomYgPFXvTCSznFzbGgJsyE82y+Nju7ziKL/AII6bM4BjfCf21EJ41Wl+5ip6QdgJ3ML2NyTvcQHna3XMJtDuC4aWnqCoSUpheVXPlXDiFOX1uaLkA60BMO/UhEMBbdNItEiUkoXV9dDzWfdM2XjbBDieSbdKm/1p22Oc9WWNKRII/6E8kWC7N7yDvQ7JRskm04jiTeB57ygykV1iiGr4vkw13JWJuaRiUhG+EnuTPuEAbsnaqbFFhuq0trg8YyVFtpSLqc2H1XFFs24IAYFztfE7gpZJEJTq3BDbnSiPo7F5vxVUxUnoiffOXx4/+z6G0K6nsNR4JraR5w7N8IqxAYHvg3/a3hRDZwxfWtRPjt29VPYm1YvCeI2xGcC6gHjz33a4YCtpdeagWiA7RNAEJbFgDvubrKMzs63h2pYddwBHTCOLJz1IBKUtcoPkcpIfJV9f2Uw0inP2LfjVny+q9gLxifeDPjm7RtjmLSwpPk53LQoOK1JBhmTmTsewod3K4QQ1GoI2Ry0wIZ8PVRBrWiluht++MaL5cz+6f2skerpb9eMKkIAVM4urRr4=
  - secure: oOjRl/uicmYzjRg/piIUAvxkppaT+0N7nXd4b7/tjbZu8TzCHoANysDTiXgW/Vr2tHdJKwnxpNXD0ir6nG/cqsk4Mgra/oZe/1llOl80Taba8WbjQ3ZPuCx/C4xbkz3e2Fz6nNiZVCAZC4FDdQ/XaY/xh0cz/z5toDYwfdhoyCBZMDzqBuGwO5cWqLv6SU3E9xKeOKZbnmc9XAZQ3TPSpB+ZTrZ5wGJZ5OaprlGvbz/kGZXwEBfOP8evTnbEvkn/Q9rajvjySXr0PshNYBoY51/3/KF6A2QPviZPiNXA4vByuna2mG2IM5oXMAunjclGuhhCBQtpQ7k4eAugJJ1qPM++jm6QxGMUo/qNTg8u5Itb8QP8lvhLnm6oJ5z/xMwG2owfDsqCCu+gQaSdO9T8G3HnPJRC6/PRXJQid0EpOZBqMRHEkMjpg/L/dmTi3HVdGPapIyfDxZEqbp9W+6VfVyIxWxstDuD7ZUFfcx+alCl4ZC7F9uXqG4Pmxp0zvwSUmO691eqlrTmJwE0119b3xRUP+CqhGag/d0J9VAP8RRUAwYdi/6C6u1lODoT6i/IXpGohoURNqnfTmoH1g502DC+n7Kxf4x+3WRsSmPhbAx+bU5achSpwIple0GYqRFJssCp9Pc6LDktg5raDB4nrlcTIi4YoY+q3x7A3FUkQlD8=
install:
- mvn dependency:purge-local-repository -DmanualInclude="uk.ac.sussex.gdsc:gdsc-ij-parent"
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
after_success:
- mvn clean test -P coveralls,jacoco jacoco:report coveralls:report
deploy:
  provider: script
  script:
  - if grep --quiet '<version>.*SNAPSHOT</version>' pom.xml; then
      mvn deploy -P snapshot-release --settings deploy/settings.xml -DskipTests=true;
    fi
  skip_cleanup: true
  on:
    branch: master
